html
  head
    title Back to the Future
    script(src="//rawgithub.com/mrdoob/three.js/master/build/three.js")
    script(src="http://stemkoski.github.io/Three.js/js/OrbitControls.js")
    script(src="http://stemkoski.github.io/Three.js/js/KeyboardState.js")
    script(src="//js.leapmotion.com/leap-0.4.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/async/1.22/async.min.js")

    style.
      body {
        margin: 0;
        font-family: Helvetica, Arial;
      }
      .ui {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
      }
      .ui h1,
      .ui #form-search {
        text-align: center;
      }
      .ui .spinner {
        margin: 0 auto;
        width: 32px;
        height: 32px;
        background: url('/public/images/loader.gif');
      }
      .ui .spinner.hidden {
        visibility: hidden;
      }
      .ui h1 {
        font-size: 40px;
        font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
        margin: 20px 0;
      }
      input[name='query'] {
        font-size: 24px;
        line-height: 1.5;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        outline: none;
      }
      select[name='startdate'] {
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;
      }
      select[name='enddate'] {
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;
      }
      #stage canvas {
        background: white;
      }

  body
    .ui
      h1 Back to the Future
      form(id='form-search')
        input(type='search', placeholder='Steve Jobs', value='iPod', name='query')
        input(type='hidden', name='itemperpage', value='20')
        br
        select(id='startdate-search', name='startdate')
        select(id='enddate-search', name='enddate')
        input(type='hidden', name='sortby', value='MostPopular')
      .spinner.hidden

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js")
    script(src="/public/js/search.js")

    script(src="public/js/leap.js")

    #stage
    script(src="/public/js/render.js")

