html
  head
    link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
    title Time Travel
    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//rawgithub.com/mrdoob/three.js/master/build/three.js")
    script(src="/public/js/tween.min.js")
    script(src="http://stemkoski.github.io/Three.js/js/OrbitControls.js")
    script(src="http://stemkoski.github.io/Three.js/js/KeyboardState.js")
    script(src="//js.leapmotion.com/leap-0.4.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/async/1.22/async.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="/public/js/jquery.leanModal.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script.
      // attach trigger to all lean modals
      $(function(){
        $("a[rel*=leanModal]").leanModal({ top: 80, overlay : 0.4});
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43653558-4', 'boonmeelab.com');
      ga('send', 'pageview');

    style.
      body {
        margin: 0;
        background: #f9f9f9;
        color: #666;
        font-family: 'Abel', Helvetica, Arial;
      }
      a {
        text-decoration: none;
        color: #000000;
      }
      a:hover {
        color: #ED1C24;
        text-decoration: none;
      }
      input {
        font-family: 'Abel', Helvetica, Arial;
      }
      .ui {
        position: absolute;
        z-index: 100;
        bottom: 10px;
        left: 0;
        right: 0;
      }
      .ui h1,
      .ui #form-search {
        text-align: center;
      }
      .ui .spinner {
        display: inline-block;
        position: absolute;
        margin: 15px 10px 0;
        width: 32px;
        height: 32px;
        background: url('/public/images/loader.gif');
      }
      .ui .spinner.hidden {
        visibility: hidden;
      }
      h1 {
        position: absolute;
        z-index: 100;
        font-weight: normal;
        font-size: 32px;
        margin: 10px 20px;
        color: 000;
      }
      h1 .title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
      }
      h1 .logo {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/public/images/logo.png') no-repeat;
        background-size: cover;
        vertical-align: middle;
      }
      h2 {
        color: 000;
      }
      ul {
        padding: 0;
      }
      input[name='query'] {
        font-size: 24px;
        line-height: 1.5;
        border-radius: 10px;
        border: 1px solid #999;
        padding: 10px;
        outline: none;
      }
      #stage {
        position: absolute;
      }
      #info-box {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 250px;
      }
      #info-box.hidden {
        display: none;
      }
      #info-box h3 {
        font-weight: normal;
        line-height: 1.2;
        margin: 0;
        color: 000;
      }
      #info-box .artist {
        color: #ED1C24;
        margin: 0 0 5px;
        font-size: 13px;
      }
      #info-box p {
        margin: 0;
        font-size: 13px;
      }
      #year-range-slider {
        width: 30%;
        font-size: 13px;
      }

      .ui-slider .ui-slider-handle{
        cursor: default;
        height: 1.2em;
        position: absolute;
        width: 1.2em;
        z-index: 2;
      }
      #year-range-text{
        font-size: 18px;
        color: #ED1C24;
        margin: 10px 0 5px;
      }
      .footer {
        font-size: 13px;
      }
      #lean_overlay {
        position: fixed;
        z-index:9999;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #000;
        display: none;
      }
      .modal{
        display: none;
        padding: 5px 60px 40px;
        box-sizing: border-box;
        font-size: 15px;
        background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
      }
      .modal p {
        margin: 0 0 10px;
      }
      .modal li {
        margin-bottom: 5px;

      }
      .modal h3 {
        color: #000;
        font-size: 16px;
        margin: 0 0 3px;
      }
      #aboutusModal{
        width: 600px;
      }
      #tourModal{
        width: 600px;
      }
      #controlGuideLeft {
        float:left;
        width:46%;
      }
      #controlGuideRight {
        float: left;
        width: 46%;
      }

  body
    h1
      .logo
      .title Time Travel
    .ui
      form(id='form-search')
        input(type='search', placeholder='Computer', value='Computer', name='query')
        .spinner.hidden
        input(type='hidden', name='itemperpage', value='20')
        input(type='hidden',id='startdate',name='startdate')
        input(type='hidden',id='enddate',name='enddate')
        input(type='hidden', name='sortby', value='MostPopular')
      center
        #year-range-slider
        #year-range-text
      center.footer
        a(href="#tourModal", rel="leanModal") Take a Tour
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="#aboutusModal", rel="leanModal") About the Maker
        | &nbsp;&nbsp;|&nbsp;&nbsp;
        a(href="http://www.photohackday.org", target="_black") Photo Hack Day 5

    #stage

    #info-box.hidden
      h3
      .artist
      p
      .keyword

    #tourModal.modal
      div
        center
          h2 Guideline
          p Welcome to Time Travel &mdash; a time machine on the Internet!
        p Time Travel will take you to explore the world of history related to your interesting topics.
        p Try to search what you want to know and also specify the range of years you want to go through a time space.
        p You can control our time travel by using a keyboard or leap motion if you have one. <br>So, just plug it in to your computer and you are ready to go!
        br
        #controlGuideLeft
          center
            h3 Keyboard
            table
              tr
                td
                  img(src="/public/images/keyboard_up.png")
                td Forward
              tr
                td
                  img(src="/public/images/keyboard_down.png")
                td Backward
        #controlGuideRight
          center
            h3 Leap Motion
            table
              tr
                td
                  img(src="/public/images/LM_clockwise.png", height="50px", width="50px")
                td(width="30px")
                td
                  img(src="/public/images/LM_counterclockwise.png", height="50px", width="50px")
              tr
                td Forward
                td &nbsp;
                td Backward
            <br>
            img(src="/public/images/LM_handwalk.png", height="50px", width="100px")
            div Walk through time!
    #aboutusModal.modal
      div
        center
          h2 About the Maker
        ul
          h3 <a href='https://github.com/parnurzeal', target='_blank'>Theeraphol Wattanavekin</a>, Developer
          p An infrastructure developer working in Rakuten, Inc. in Japan who interests in various fields such as web technology, big data, image processing and robotics.

          h3 <a href='https://github.com/rapee', target='_blank'>Rapee Suveeranont</a>, Developer
          p Full-stack developer with wide range of skills in game, web and mobile application. He also draws, runs and travels. Rapee wants to build world-class products that people love to use.

          h3 Shin Yoonjo, Designer
          p Web director specialized in UX, working in the biggest e-commerce company in Japan. Violinist and dancer during free time. She studied psychology in Carnegie Mellon University and went on pursuing a Master’s degree in Interactive Telecommunications Program in New York University.

          h3 <a href='http://thitiphong.com', target='_blank'>Thiti Luang</a>, Designer
          p A veteran Experience Designer in Thailand and New York City focusing on using design and technology to build great product and service for the better living. His experiences include graphic design, interaction design, UX/UI design, illustration, sound installation, museum and concert design. He got a Bachelor degree of industrial design from Chulalongkorn University, Thailand and Master degree from Interactive Telecommunications Program, NYU sponsored by Fulbright scholarship. He is currently teaching design classes and pursuing entrepreneurship in Bangkok.


    //- Application scripts
    script(src="/public/js/search.js")
    script(src="/public/js/leap.js")
    script(src="/public/js/render.js")

    script.
      function updateInfoBox(params) {
        var $box = $('#info-box');
        if (typeof params.show === 'boolean') $box[ params.show ? 'removeClass' : 'addClass']('hidden');
        if (params.title) $box.find('h3').text(params.title); // Title
        if (params.artist) $box.find('.artist').text(params.artist); // Artist
        if (params.caption) $box.find('p').text(params.caption); // Caption
      }
