html
  head
    title Back to the Future
    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//rawgithub.com/mrdoob/three.js/master/build/three.js")
    script(src="http://stemkoski.github.io/Three.js/js/OrbitControls.js")
    script(src="http://stemkoski.github.io/Three.js/js/KeyboardState.js")
    script(src="//js.leapmotion.com/leap-0.4.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/async/1.22/async.min.js")

    style.
      body {
        margin: 0;
        font-family: Helvetica, Arial;
        background: #f9f9f9;
        color: #333;
      }
      .ui {
        position: absolute;
        z-index: 100;
        bottom: 20px;
        left: 0;
        right: 0;
      }
      .ui h1,
      .ui #form-search {
        text-align: center;
      }
      .ui .spinner {
        display: inline-block;
        position: absolute;
        margin: 15px 10px 0;
        width: 32px;
        height: 32px;
        background: url('/public/images/loader.gif');
      }
      .ui .spinner.hidden {
        visibility: hidden;
      }
      h1 {
        position: absolute;
        z-index: 100;
        font-size: 40px;
        margin: 10px 20px;
        color: #92DDE0;
        font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
        text-shadow: 1px 2px 0 #70C2D1;
      }
      h1 strong {
        color: #FE6860;
        text-shadow: 1px 2px 0 #FD2500;
      }
      input[name='query'] {
        font-size: 24px;
        line-height: 1.5;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        outline: none;
      }
      select[name='startdate'] {
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;
      }
      select[name='enddate'] {
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;
      }
      #stage {
        position: absolute;
      }
      #info-box {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 200px;
      }
      #info-box.hidden {
        display: none;
      }
      #info-box h3 {
        font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
        color: #FE4830;
        margin: 0 0 10px;
      }
      #info-box .artist {
        color: #999;
        margin: 0 0 10px;
        font-size: 13px;
      }
      #info-box p {
        margin: 0 0 10px;
        font-size: 13px;
      }
      #year-range-slider {
        width: 30%;
        font-size: 13px;
      }
      .ui-slider .ui-slider-handle{
        cursor: default;
        height: 1.2em;
        position: absolute;
        width: 1.2em;
        z-index: 2;
      }
      #year-range-text{
        font-size: 24px;
        font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
        color: #FE4830;
        margin: 10px 0 10px;
      }

  body
    h1 <strong>Back</strong> to the Future
    .ui
      form(id='form-search')
        input(type='search', placeholder='Computer', value='Computer', name='query')
        .spinner.hidden
        input(type='hidden', name='itemperpage', value='20')
        input(type='hidden',id='startdate',name='startdate')
        input(type='hidden',id='enddate',name='enddate')
        input(type='hidden', name='sortby', value='MostPopular')
      center
        #year-range-slider
        #year-range-text

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="/public/js/search.js")
    script(src="public/js/leap.js")

    #stage
    script(src="/public/js/render.js")

    #info-box.hidden
      h3
      .artist
      p
      .keyword

    script.
      function updateInfoBox(params) {
        var $box = $('#info-box');
        if (typeof params.show === 'boolean') $box[ params.show ? 'removeClass' : 'addClass']('hidden');
        if (params.title) $box.find('h3').text(params.title); // Title
        if (params.artist) $box.find('.artist').text(params.artist); // Artist
        if (params.caption) $box.find('p').text(params.caption); // Caption
      }
