html
  head
    link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
    title Time Travel
    link(rel="stylesheet", href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js")
    script(src="/public/js/typedarray.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js")
    script(src="/public/js/tween.min.js")
    script(src="/public/js/threex/OrbitControls.js")
    script(src="/public/js/threex/KeyboardState.js")
    //[if gt IE 10]><!
    script(src="//js.leapmotion.com/leap-0.4.1.min.js")
    //<![endif]
    script(src="//cdnjs.cloudflare.com/ajax/libs/async/1.22/async.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
    script(src="/public/js/jquery.leanModal.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.js")
    script.
      // attach trigger to all lean modals
      $(function(){
        $("a[rel*=leanModal]").leanModal({ top: 40, overlay : 0.4});
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43653558-7', 'auto');
      ga('send', 'pageview');

    style.
      body {
        margin: 0;
        background: #f9f9f9;
        background: #fff;
        color: #666;
        font-family: 'Abel', Helvetica, Arial;
      }
      a {
        text-decoration: none;
        color: #000000;
      }
      a:hover {
        color: #ED1C24;
        text-decoration: none;
      }
      input {
        font-family: 'Abel', Helvetica, Arial;
      }

      #info-box {
        position: absolute;
        z-index: 100;
        bottom: 10px;
        left: 0;
        right: 0;

        bottom: 60px;
        left: 50%;
        width: 400px;
        margin-left: -200px;
      }

      header {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        overflow: hidden;

        background-image: url('../public/images/header-bg.png');
        background-repeat: repeat-x;
        background-position: 0 -20px;
      }
      .ui {
      /*
        position: absolute;
        z-index: 100;
        bottom: 10px;
        left: 0;
        right: 0;
        */
        position: absolute;
        z-index: 100;
        top: 10px;
        right: 10px;
        width: 250px;

        top: 0;
        left: 400px;
        right: auto;
        width: 560px;
      }
      .ui h1,
      .ui #form-search {
        text-align: center;
      }
      .ui .spinner {
        display: inline-block;
        position: absolute;
        margin: 15px 10px 0;
        width: 32px;
        height: 32px;
        background: url('/public/images/loader.gif');
      }
      .ui .spinner.hidden {
        visibility: hidden;
      }

      #form-search {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
      }

      #form-search [type="submit"] {
        display: inline-block;
        width: 60px;
        height: 35px;
        margin: 10px 0 0;
        border: none;
        background: #000;
        vertical-align: top;
        color: #fff;
        font-family: 'Abel', Helvetica, Arial;
        font-size: 18px;
      }
      h1 {
        position: absolute;
        z-index: 100;
        margin: 20px 0 10px;
        color: 000;
      }
      h1 .title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        margin-top: -2px;
        font-weight: normal;
        font-size: 28px;
      }
      h1 .title .logo {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/public/images/logo.png') no-repeat;
        background-size: cover;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -5px;
      }
      h1 .logo {
        display: inline-block;
        width: 191px;
        height: 36px;
        background: url('/public/images/gettyimages.gif') no-repeat;
        background-size: cover;
        vertical-align: middle;
      }
      h2 {
        color: 000;
      }
      ul {
        padding: 0;
      }
      input[name='query'] {
        font-size: 18px;
        line-height: 36px
        /*border-radius: 10px;*/
        background: #f6f6f6;
        border: 1px solid #eee;
        padding: 5px 5px;
        outline: none;
        margin: 10px 0 0;
      }
      input[name='query']:focus {
        background: white;
        border: 1px solid #ccc;
      }
      .toggle-year-range {
        display: none;
      }
      .status {
        position: relative;
        width: 240px;
        margin: 0 auto;

        position: absolute;
        z-index: 100;
        top: 70px;
        left: 50%;
        margin-left: -120px;
        left: 870px;
        top: 25px;
        margin-left: 0;
      }
      .loading-text.hidden,
      .result-text.hidden {
        display: none;
      }
      .loading-text {
        float: left;
        margin-left: 24px;
      }
      .result-text {
        /*text-align: right;*/
        float: left;
        margin-left: 24px;
      }
      .result-text .count {
        color: #ED1C24;
      }
      #stage {
        position: absolute;
        top: 30px;
      }
      /*
      #info-box {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 250px;
      }
      */
      #info-box.hidden {
        display: none;
      }
      #info-box h3 {
        font-weight: normal;
        line-height: 1.2;
        margin: 0;
        color: 000;
      }
      #info-box .artist {
        color: #ED1C24;
        margin: 0 0 5px;
        font-size: 13px;
      }
      #info-box p {
        margin: 0 0 10px;
        font-size: 13px;
      }
      #info-box .more {
        color: #000;
        font-size: 12px;
      }
      #year-range-slider {
        width: 30%;
        font-size: 13px;

        width: 80%;
        margin-top: 25px;
      }

      .ui-slider .ui-slider-handle{
        cursor: default;
        height: 1.2em;
        position: absolute;
        width: 1.2em;
        z-index: 2;
      }
      #year-range {
        display: inline-block;
        width: 200px;
        vertical-align: top;
        margin-top: 15px;
        position: relative;
      }
      #year-range-label{
        position: absolute;
        top: 0;
        left: 20px;
        font-size: 14px;
        color: #333;
        margin: 0;
        position: absolute;
        top: 0;
        left: 20px;
      }
      #year-range-text{
        font-size: 14px;
        color: #ED1C24;
        margin: 10px 0 5px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 60px;
      }
      #year-range-from,
      #year-range-to {
        font-size: 14px;
        color: #ED1C24;
      }
      #year-range-from {
        position: absolute;
        top: 0;
        left: 80px;
      }
      #year-range-from {
        position: absolute;
        top: 0;
        right: 80px;
      }
      .profile-list li {
        list-style: none;
        clear: both;
      }
      .profile-main {
        float: left;
        width: 400px;
      }
      .profile-pic {
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 60px;
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: cover;
      }
      .profile-pic-theeraphol {
        background-image: url('../public/images/profile-theeraphol.png');
      }
      .profile-pic-rapee {
        background-image: url('../public/images/profile-rapee.png');
      }
      .profile-pic-thiti {
        background-image: url('../public/images/profile-thiti.png');
      }
      .profile-pic-yoonjo {
        background-image: url('../public/images/profile-yoonjo.png');
      }
      .footer {
        font-size: 13px;
        color: #000;
        position: absolute;
        z-index: 100;
        bottom: 20px;
        left: 30px;

        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background: #333;
        color: #ccc;
      }
      .footer a {
        margin-right: 15px;
        color: #ccc;
      }
      .footer a:hover {
        color: #ED1C24;
      }
      #lean_overlay {
        position: fixed;
        z-index:9999;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #000;
        display: none;
      }
      .modal{
        display: none;
        padding: 5px 60px 40px;
        box-sizing: border-box;
        font-size: 15px;
        background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
      }
      .modal p {
        margin: 0 0 10px;
      }
      .modal li {
        margin-bottom: 5px;

      }
      .modal h3 {
        color: #000;
        font-size: 16px;
        margin: 0 0 3px;
      }
      #aboutusModal{
        width: 700px;
      }
      #tourModal{
        width: 700px;
      }
      #controlGuideLeft {
        float:left;
        width:46%;
      }
      #controlGuideRight {
        float: left;
        width: 46%;
      }

      #controller {
        position: absolute;
        z-index: 101;
        top: 150px;
        left: 50%;
        margin-left: 350px;
        -webkit-transition: all 1s ease-in-out;
           -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
      }

      #controller.hidden {
        opacity: 0;
      }

      #controller > a {
        display: block;
        width: 50px;
        cursor: pointer;
        opacity: .5;
        margin-bottom: 25px;
      }
      #controller > a:hover {
        opacity: 1;
      }


      @media only screen and (max-width: 1024px) and (min-width: 480px) {
        .status {
          top: 70px;
          left: 20px;
        }
      }

      @media only screen and (max-width: 850px) and (min-width: 480px) {
        .footer {
          display: none;
        }

        h1 {
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 25px;
        }
        h1 .logo {
          width: 96px;
          height: 18px;
        }
        h1 .title {
          font-size: 18px;
        }
        h1 .title .logo {
          width: 15px;
          height: 15px;
        }
        .ui {
          left: auto;
          right: 20px;
          width: 450px;
        }

        #controller {
          margin-left: 0;
          left: auto;
          right: 30px;
        }
        #info-box {
          bottom: 20px;
        }
      }

      @media only screen and (max-width: 480px) {
        .footer {
          display: none;
        }
        h1 {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
        }
        h1 .logo { display: none; }
        h1 .title {
          font-size: 18px;
        }
        h1 .title .logo {
          width: 15px;
          height: 15px;
        }
        .ui {
          width: 100%;
          position: static;
          text-align: center;
        }
        .ui #form-search {
          position: absolute;
          left: 0;
          margin: 0;

          text-align: left;
          width: 90%;
          left: 5%;
        }
        #form-search [type="search"] {
          width: 70%;
        }

        .toggle-year-range {
          display: inline-block;
          width: 35px;
          height: 35px;
          position: absolute;
          top: 10px;
          right: 0;
          background-image: url('/public/images/keyboard-down.png');
          background-size: cover;
        }
        .option-active .toggle-year-range {
          background-image: url('/public/images/keyboard-up.png');
        }

        #year-range {
          display: none;
        }
        .option-active #year-range {
          display: block;
          position: absolute;
          top: 50px;
          right: 0;
          left: 0;
          margin-top: 10px;

          width: 100%;

          padding-bottom: 20px;
          background: white;
          border-bottom: 1px solid #ddd;
        }
        #year-range-label {
          left: 10%;
        }
        #year-range-text {
          left: 20%;
        }
        #controller {
          margin-left: 0;
          left: auto;
          right: 10px;
          bottom: 0;
          top: auto;
        }
      }
      @media only screen and (max-width: 350px) {
        #form-search {
          width: 96%;
          left: 2%;
        }
        #form-search [type="search"] {
          width: 60%;
        }
      }

      @media only screen and (max-height: 600px) {

        #info-box {
          margin-left: 0;
          left: 20px;
          right: 20px;
          width: auto;
          height: 140px;
          bottom: 10px;
          overflow: auto;
        }
        #info-box h3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

      }
      @media only screen and (max-height: 400px) {

        #info-box {
          height: 100px;
        }
      }


  body
    header
      h1
        a.logo(href='http://gettyimages.jp', target='_blank')
        .title
          .logo
          | Time Travel
      .ui
        form(id='form-search')
          input(type='search', placeholder='e.x. コンピューター', value='コンピューター', name='query')
          button(type='submit') Go
          a.toggle-year-range(href='#')
          //- .spinner.hidden
          input(type='hidden', name='itemperpage', value='20')
          input(type='hidden',id='startdate',name='startdate')
          input(type='hidden',id='enddate',name='enddate')
          input(type='hidden', name='sortby', value='MostPopular')
        center#year-range
          #year-range-slider
          #year-range-label Year
          #year-range-text
      .status
        .loading-text Loading...
        .result-text <span class='count'></span> photos found
    center.footer
      a(href="#tourModal", rel="leanModal") Take a Tour
      //- | &nbsp;&nbsp;|&nbsp;&nbsp;
      a(href="#aboutusModal", rel="leanModal") About the Creator
      //- | &nbsp;&nbsp;|&nbsp;&nbsp;
      //- a(href="https://github.com/boonmeelab/timetravel", target="_black") Github
      //- | &nbsp;&nbsp;|&nbsp;&nbsp;
      | 1<sup>st</sup> prize from&nbsp;
      a(href="http://www.photohackday.org", target="_black") Photo Hack Day 5

    #controller.hidden
      a.next-btn(title="Arrow Up")
        img(src="/public/images/keyboard-up.png")
      a.prev-btn(title="Arrow Down")
        img(src="/public/images/keyboard-down.png")
    #stage

    #info-box.hidden
      h3
      .artist
      p
      //- .keyword
      a.more(target='_blank') Show Original

    #tourModal.modal
      div
        center
          h2 Guideline
          p Welcome to Time Travel &mdash; a time machine on the Internet!
        p Time Travel will take you to explore the world of history related to your interesting topics.
        p Try to search what you want to know and also specify the range of years you want to go through a time space.
        p You can control our time travel by using a keyboard or leap motion if you have one. <br>So, just plug it in to your computer and you are ready to go!
        br
        #controlGuideLeft
          center
            h3 Keyboard
            table
              tr
                td
                  img(src="/public/images/keyboard-up.png", style="margin: 5px 10px;")
                td Forward
              tr
                td
                  img(src="/public/images/keyboard-down.png", style="margin: 5px 10px;")
                td Backward
        #controlGuideRight
          center
            h3 Leap Motion
            table
              tr
                td
                  img(src="/public/images/LM_clockwise.png", height="50px", width="50px")
                td(width="30px")
                td
                  img(src="/public/images/LM_counterclockwise.png", height="50px", width="50px")
              tr
                td Forward
                td &nbsp;
                td Backward
            <br>
            img(src="/public/images/LM_handwalk.png", height="50px", width="100px")
            div Walk through time!
    #aboutusModal.modal
      div
        center
          h2 About the Creator
        ul.profile-list
          li
            .profile-pic.profile-pic-theeraphol
            .profile-main
              h3 <a href='http://www.parnurzeal.com', target='_blank'>Theeraphol Wattanavekin</a>, Developer
              p An infrastructure developer working in Rakuten, Inc. in Japan who interests in various fields such as web technology, big data, image processing and robotics.

          li
            .profile-pic.profile-pic-rapee
            .profile-main
              h3 <a href='https://github.com/rapee', target='_blank'>Rapee Suveeranont</a>, Developer
              p Full-stack developer with wide range of skills in game, web and mobile application. He also draws, runs and travels. Rapee wants to build world-class products that people love to use.

          li
            .profile-pic.profile-pic-yoonjo
            .profile-main
              h3 Shin Yoonjo, Designer
              p Web director specialized in UX, working in the biggest e-commerce company in Japan. Violinist and dancer during free time. She studied psychology in Carnegie Mellon University and went on pursuing a Master’s degree in Interactive Telecommunications Program in New York University.

          li
            .profile-pic.profile-pic-thiti
            .profile-main
              h3 <a href='http://thitiphong.com', target='_blank'>Thiti Luang</a>, Designer
              p An experience designer who makes things he loves for people he likes.


    //- Application scripts
    //- script(src="/public/js/search.js")
    script(src="/public/js/render.js")
    script(src="/public/js/leap.js")
    //- script(src="/public/js/render.js")

    script.
      var currentInfoBoxId;
      function updateInfoBox(params) {
        var $box = $('#info-box');
        if (params.id != currentInfoBoxId) {
          currentInfoBoxId = params.id;
          var url = 'http://www.gettyimages.co.jp/detail/'+params.id+'?referer=timetravel';
          if (typeof params.show === 'boolean') $box[ params.show ? 'removeClass' : 'addClass']('hidden');
          if (params.title) $box.find('h3').empty().append($('<a target="_blank">').attr('href', url).text(params.title)); // Title
          if (params.artist) $box.find('.artist').text(params.artist); // Artist
          if (params.caption) {
            $box.find('p').text(params.caption.slice(0, 500) + (params.caption.length > 500 ? '...' : '')); // Caption
          }
          $box.find('.more').attr('href', url); // Link
        }
      }
